@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,300;1,500;1,700&display=swap');
body {
	line-height: 1.5;
	font-family: 'Poppins';
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}


header {
	z-index: 10;
	width: 100%;
	position: fixed !important;
	top: 0;
	background-color: rgba(255, 255, 255, 0.7);
}


.menu {
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	color: black;
}

.menu:hover {
	background-color: black;
	transition: 0.5s;
}

/* Parte sinistra della navbar */

.logo {
	height: 50px;
	width: 5%;
	margin: 0px 0px 0px 10px;
	transform-style: preserve-3d;
}

.menu:hover .logo {
	transform: rotateX(-180deg);
}

.fronte,
.retro {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.retro {
	transform: rotateX(180deg);
}

.logo img {
	height: 100%;
	width: 100%;
}


/* Parte centrale della navbar */

.lista{
	display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.menu:hover a{
	color: white;
}

.menu a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	display: block;
	position: relative;
	padding: 4px 0;
}

.menu a::before {
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
	transition: 0.5s transform ease;
	transform: scale3d(0, 1, 1);
	transform-origin: 0 50%;
}

.menu a:hover::before {
	transform: scale3d(1, 1, 1);
}


/* Parte destra della navbar */


.icone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 5px 0px !important;
}

.icone a {
	padding: 0px 10px !important;
}

.no-style{
	border:none;
	background: transparent;
}

.support{
	padding-top:5px;
}

.support lord-icon {
    height: 36px !important;
    width: 36px !important;
}

.menu a button{
	font-size: 18px;
	text-decoration: none;
	color: black;
	display: block;
	position: relative;
	padding: 4px 0;
}

.menu:hover a button{
	font-size: 18px;
	text-decoration: none;
	color: white;
	display: block;
	position: relative;
	padding: 4px 0;
}
